<div class="row">
  <div class="col-12 col-md-3">
    <%= render partial: 'rooms' %>
  </div>

  <div class="col">
    <div class="alert alert-primary">
      <h4 class="alert-heading">
        Welcome to Time For Chat!
      </h4>

      <p>
        We got the hottest news.
      </p>

      <hr />

      <p>
        You can create or join a room from the sidebar.
      </p>

    </div>
  </div>
</div>
        <div id="roombox" data="<%= @roomprops %>"></div>
